h1{
    text-align: center;
    color: red;
    background-color: yellow;
}
table{
  border: 2;
border-style: solid;
width: 100%;
height: auto;
text-align: center;

}
th{background-color: aqua;
}
.col{
    background-color:antiquewhite;
}